video{
    width: 400px;
    height: 450px;
    display: block;
    object-fit: cover;
    margin: 60px auto 0px auto;
    border-radius: 15px;
}

button{
    display: block;
    margin: 30px auto;
    width: 160px;
    height: 37px;
    font-size: 18px;
    border-radius: 5px;
    outline: none;
    background: cadetblue;
    border: none;
    color: white;
    cursor: pointer;

}